*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background: linear-gradient(to right, rgb(104, 111, 241), rgb(219, 181, 246));
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: linear-gradient(to right, rgb(0, 2, 21), rgb(70, 1, 119));
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.titulo img{
    height: 80%;
    width: 80%;
}

.menu{
    display: flex;
    gap: 40px;
}

header a:link,
header a:visited{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover{
    color: rgb(140, 0, 255);
}

.carrito img{
    height: 20%;
    width: 20%;
}

.info{   
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 40px 10%;
}
.resaltar{
    font-weight: bold;
    color: rgb(23, 23, 84);
}
.info p{
    
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: justify;
}

.info>img{
    width: 40%;
    height: 30%;
}

.productos{
    margin: 0 auto;
    height: 600px;
    width: 95%;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    padding: 5%;
}

.productos h2{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(2, 5, 53);
    margin-bottom: 30px;
}

.cajas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.producto{
    
    background-color: rgb(6, 13, 100);
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    
    box-sizing: border-box;
}

.producto img{
    width: 100%;
    margin-bottom: 10px;
}

.producto > h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-top: 2%;
    color: rgb(139, 251, 255);
    text-align: center;
    margin-bottom: 10px;
}
.producto > p{
    padding-top: 2%;
    color: aliceblue;
    text-align: left;
    margin-bottom: 10px;
}

.producto-pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.producto-pie button{
    color: white;
    font-weight: bold;
    background-color: rgb(4, 0, 255);
    border-radius: 7px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.producto-pie button:hover{
    color: rgb(5, 103, 168);
    background-color: rgb(195, 130, 248);
}

footer{
    color: rgba(255, 255, 255, 0.512);
    background: linear-gradient(to right, rgb(2, 8, 129), rgb(70, 1, 119));
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    margin-top: 40px;
}

footer .redes{
    width: 80px;
    height: 40px;
}

footer .redes img{
    width: 50%;
    height: 90%;
    
}
